header{
  height: 50px;
  overflow: hidden;
  background-color: #339dc3;
}
h1{
  color: white;
  margin: 0;
  line-height: 50px;
  text-align: center;
}
body{
  background-color: #f5f8fa;
}
input{
  height: 45px;
}
.btn{
  color: white;
  font-size: 1.6em;
}

.btn-default{
  background-color: #339dc3;
}
i{
  color: white;
  margin-right: 10px;
}
.body{
  padding: 50px 0;
}
.individual-tweets{
  width: 100%;
  height: 90px;
  padding: 10px 20px;
  display: block;
  overflow: hidden;
  margin: 5px 0;
  background-color: white;
}
.individual-tweets .content{
  font-size: 2em;
}
.individual-tweets .owner{
  font-size: 1.5em;
  pointer-events: none;
}

#login, #edit{
  position: absolute;
  top: 5%;
  width: 85%;
  height: 91%;
  background-color: white;
  left: 8%;
  right: auto;
}

#login button, #edit button{
  position: relative;
  top: 70%;
}


#loginInput, #editInput{
  left: 25%;
  position: relative;
  top: 50%;
  width: 50%;
  right: 5%;
}

.individual-tweets:hover{
  background-color: #339dc333;
}

.editInfo{
  position: relative;
  float: right;
  line-height: 60px;
  color: white;
  font-size: 2em;
  font-variant: ;
  font-weight: bold;
  pointer-events: none;
}